mixin dataBlock (data)
    if data.type === 'graph'
        img.graph(src='assets/Richdata.svg')
    if data.temperature
        .state
            .temperature!= `Температура: <b>${data.temperature} C</b>`
            .humidity!= `Влажность: <b>${data.humidity}%</b>`
    if data.image
        .box
            .box-image-wrapper(
                style='background-image: url(assets/cam@x3.png);'
            )
                img.box__image(
                    srcset=`assets/cam@x1.png 1x,
                            assets/cam@x2.png 2x,
                            assets/cam@x3.png 3x`
                    src='assets/cam@x3.png'
                )
            .box-options
                .options__zoom Приближение: 100%
                .options__brightness Яркость: 100%
                .options__rotate Поворот 0°
    if data.buttons
        .buttons
            .button.button_type_confirm!= data.buttons[0]
            .button.button_type_close!= data.buttons[1]
    if data.track
        .music
            img.music__albumcover(src=`${data.albumcover}`, alt='albumcover')
            .music-track
                .music__description!= `${data.artist} - ${data.track.name}`.trim()
                - let len = data.track.length.split(':');
                - len = len[0] * 60 + len[1];
                .track
                    input.music__track(type='range' min='0' max=`${len}` step='1' value='0')
                    .track__value!= data.track.length
            .music-nav
                img.music__prev(src='assets/Prev.svg')
                img.music__next(src='assets/Prev.svg' style='transform: rotate(180deg)')
                .volume
                    input.music__volume(type='range' min='0' max='100' step='1' value=`${data.volume}`)
                    .volume__value!= data.volume + '%'

mixin eventBlock (event)
    - isCritical = event.type === 'critical';
    - event.icon = (isCritical ? event.icon + '-white' : event.icon) + '.svg'; 
    .event(class=`event_size_${event.size} event_type_${event.type}`)
        .empty.empty_cross
            img.event__nav.cross(src=`assets/cross${isCritical ? '-white' : ''}.svg`)
        .event__header
            .event-intro
                img.event__icon(src=`assets/${event.icon}`)
                .event__title(data-title=`${event.title}`)!= event.title
            .event-desc
                .event__source!= event.source
                .event__time!= event.time
        if event.description || event.data
            .event__content
                if event.description
                    .event__description!= event.description || ''
                if event.data
                    .event__data
                        +dataBlock(event.data)
        .empty.empty_slide
            img.event__nav.slide(src=`assets/next${isCritical ? '-white' : ''}.svg`)
