mixin dataBlock (data)
    if data.type === 'graph'
        img.graph(src='assets/Richdata.svg')
    if data.temperature
        .state
            .temperature!= `Температура: <b>${data.temperature}</b>`
            .humidity!= `Влажность: <b>${data.humidity}</b>`
    if data.image
        img.image(src='assets/image.jpg')
    if data.buttons
        .button.button__confirm!= data.buttons[0]
        .button.button__close!= data.buttons[1]
    if data.track
        .music
            img.albumcover(src=`${data.albumcover}`, alt='albumcover')
            .track
                .track__desc!= `${data.artist} - ${data.track.name}`.trim()
                - let len = data.track.length.split(':');
                - len = len[0] * 60 + len[1];
                input.track__range(type='range' min='0' max=`len` step='1' value='0') 
                img.track__prev(src='assets/Prev.svg')
                img.track__next(src='assets/Prev.svg' style='transform: rotate(180deg)')
                input.track__volume(type='range' min='0' max='100' step='1' value=`${data.volume}`)
    
mixin eventBlock (event)
    - isCritical = event.type === 'critical';
    - event.icon = (isCritical ? event.icon + '-white' : event.icon) + '.svg'; 
    .event(class=`event_size_${event.size} event_type_${event.type}`)
        .event__header
            .event-intro
                img.event__icon(src=`assets/${event.icon}`)
                .event__title!= event.title
            .event-desc
                .event__source!= event.source
                .event__time!= event.time
            img.cross(src=`assets/cross${isCritical ? '-white' : ''}.svg`)
        .event__content
            if event.description
                .event__description!= event.description || ''
            if event.data
                .event__data
                    +dataBlock(event.data)
            img.slide(src=`assets/next${isCritical ? '-white' : ''}.svg`)
        